body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000000, #2a5298);
    margin: 0;
}

.calculator {
    border: none;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
    width: 350px;
}

.calculator-heading {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.calculator-screen {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    text-align: right;
    padding: 10px;
    font-size: 1.8em;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: inset 2px 2px 5px #bebebe, inset -2px -2px 5px #ffffff;
}

.display-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.operator-display {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ff5722;
    color: #fff;
    font-size: 1.5em;
    margin-right: 10px;
    visibility: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator-keys button {
    height: 60px;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    color: #333;
    transition: all 0.3s ease;
}

.calculator-keys button:hover {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}

.operator {
    background: linear-gradient(145deg, #ff5722, #ff784e);
    color: #fff;
}

.equal-sign {
    background: linear-gradient(145deg, #4caf50, #66bb6a);
    color: #fff;
    grid-column: span 2;
}

.all-clear {
    background: linear-gradient(145deg, #f44336, #e57373);
    color: #fff;
    grid-column: span 2;
}

.author {
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
    color: #fff;
    font-style: italic;
}
